/* @font-face {
  font-family: "KBFGDisplay";
  src: url("./assets/fonts/KBFGDisplayB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KBFGDisplay";
  src: url("./assets/fonts/KBFGDisplayL.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
} */

@font-face {
  font-family: "KBFGDisplay";
  src: url("./assets/fonts/KBFGDisplayM.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
